@model TiViC_proba.Models.Programme
@{
    <div>
        <h4>@Model.naziv</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.datum)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.datum)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.vreme)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.vreme)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.tip)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.tip)
            </dd>
            <p>
                @Model.opis
            </p>
        </dl>
    </div>
    <div>
        <a asp-controller="Home" asp-action="Index">Vrati se nazad</a>
        @Html.ActionLink("Watch later", "AddToWatchLater", "Home", new { kanalId = Model.kanalId, datum = Model.datum, vreme = Model.vreme, naziv = Model.naziv, opis = Model.opis, tip = Model.tip})
    </div>
}
